_build
/xanh-sync-core/target/
/xanh-sync-core/fuzz/artifacts/
/xanh-sync-core/fuzz/target/

snap/.snapcraft
parts
stage
prime
*.snap

*.iml
.gradle
.kotlin
/local.properties
.idea
.DS_Store
__pycache__/
*.py[cod]
*.xanhbackup
/build
**/build/
**/bin/
**/obj/
**/.build/
/captures
.externalNativeBuild
